# Ignorowanie katalogu node_modules (instalowane zależności)
node_modules/

# Ignorowanie katalogu uploads ze zdjęciami
uploads/

# Ignorowanie logów i plików tymczasowych
*.log
npm-debug.log*
yarn-debug.log*

# Ignorowanie folderów systemowych i IDE
.DS_Store
.idea/
.vscode/

client_secret_409697200173-003cd5hk14iqmlip5irspoqk5j5vjebv.apps.googleusercontent.com.json
/DesktopClient/.vs
/DesktopClient/.vs/DesktopClient
/DesktopClient/.vs/DesktopClient/CopilotIndices/17.13.433.20974
